{% extends 'base.html' %}

{% block main %}
    <main role="main">
      <div class="container-fluid px-0 full-ht">
        <div class="jumbotron">
          <div class="container">
            <h1>NCAR Python Tutorial</h1>
            <p>
                What makes this Python tutorial unique is that is has been designed specifically 
                to meet the needs of, and feedback from, atmospheric and oceanic scientists 
                making the transition with the NCAR-wide pivot-to-Python. In particular, 
                this tutorial should be useful for any scientist who already knows how to program 
                in some other language but is taking up Python for the first time. By spending the 
                first day on pure Python without importing any additional packages, our beginner 
                tutorial addresses the concerns that most tutorials either pick up speed too quickly 
                by going into the intricacies of third-party packages before explaining how Python is 
                different from other languages, or get too bogged down in basic programming concepts 
                that anyone with programming experience already knows. This tutorial attempts to hit 
                the sweet spot between too high-level and too low-level. By using coding examples 
                with real atmospheric datasets and questions, the skills and techniques taught are 
                easily applied to actual atmospheric or oceanic workflows. The intermediate and 
                advanced tutorials were developed by working closely with scientists to transform their 
                old code into Python using the most up-to-date tools for advanced computing. 
                We hope that this tailored approach to teaching and sharing computational tools 
                effectively addresses the concerns and needs of the geoscience community.
              </p>
            <a class="btn btn-primary btn-lg text-light" href="{{ pathto('tutorials/beginner') }}">Start Beginner Tutorial</a>
          </div>
        </div>

        <div class="container">
          <h2>About Xdev</h2>
          <p>
            These tutorials are supported by the NCAR Xdev team. 
            Xdev works to make curiosity-driven analysis of "big" scientific data a day-to-day reality. 
            This goal has two components: the first is advancing technology 
            and the second is helping scientists understand the evolving tools available to them. 
            More information on Xdev can be found on 
            <a class="reference external" href="https://ncar.github.io/xdev/posts/we-are-xdev"> our blog site. </a>
          </p>
        </div>
      </div>
    </main>
{% endblock main %}
