{% extends 'base.html' %}

{% block main %}
    <main role="main">
      <div class="container-fluid px-0 full-ht">
        <div class="jumbotron">
          <div class="container">
            <h1>NCAR Python Tutorial</h1>
            <p>Let's learn</p>
            <a class="btn btn-primary btn-lg text-light" href="{{ pathto('tutorials/beginner') }}">Start Beginner Tutorial</a>
          </div>
        </div>

        <div class="container">
          <h2>About Xdev</h2>
          <p>Our mission ...</p>
        </div>
      </div>
    </main>
{% endblock main %}
