.fab {
  font-size: 1.6rem;
}

.ncar-logo {
  display: block;
  margin-right: auto;
  width: 409px;
  padding-bottom: 15px;
}

.copyright {
  margin-right: auto;
}

.nsf-logo {
  display: block;
  width: 70px;
  padding-bottom: 15px;
}

.footer-text {
  width: 100%;
  font-family: "Helvetica";
  font-size: 0.9rem;
}

.full-ht {
  min-height: 100vh;
}

.dropdown-toggle[aria-expanded="false"]:after {
  transform: rotate(90deg);
}

.dropdown-toggle:after {
  margin-left: 0;
  transition: 0.5s;
}
