.container-fluid {
  padding: 0;
}

.fab {
  font-size: 1.6rem;
}

.ncar-logo {
  display: block;
  margin-right: auto;
  width: 409px;
  padding-bottom: 15px;
}

.copyright {
  margin-right: auto;
}

.nsf-logo {
  display: block;
  width: 70px;
  padding-bottom: 15px;
}

.footer-text {
  width: 100%;
  font-family: "Helvetica";
  font-size: 0.9rem;
}

.full-ht {
  min-height: 100vh;
}

.dropdown-toggle[aria-expanded="false"]:after {
  transform: rotate(90deg);
}

.dropdown-toggle:after {
  margin-left: 0;
  transition: 0.3s;
}

.wrapper {
  display: flex;
  align-items: stretch;
}

#sidebar {
  min-width: 274px;
  max-width: 274px;
  height: 100vh;
}

#sidebar.active {
  margin-left: -274px;
}

@media (max-width: 768px) {
  #sidebar {
      margin-left: -274px;
  }
  #sidebar.active {
      margin-left: 0;
  }
}

a[data-toggle="collapse"] {
  position: relative;
}

@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";

body {
  font-family: 'Poppins', sans-serif;
  background: #fafafa;
}

p {
  font-family: 'Poppins', sans-serif;
  font-size: 1.1em;
  font-weight: 300;
  line-height: 1.7em;
}

a, a:hover, a:focus {
  color: inherit;
  text-decoration: none;
  transition: all 0.3s;
}

#sidebar {
  background: #C0C0C0;
  color: #333;
}

#sidebar .sidebar-header {
  padding: 15px;
  background: #C0C0C0;
}

#sidebar ul p {
  color: #fafafa;
}

#sidebar ul li a {
  font-size: 1.1em;
  display: block;
}

#sidebar ul li a:hover {
  color: #C0C0C0;
  background: #333;
}

#sidebar ul li.active > a, a[aria-expanded="true"] {
  color: #333;
  background: #C0C0C0;
}

.card {
  border: none;
}

.card-header {
  color: #333;
  background-color: #C0C0C0;
  padding: 0;
  border: none;
  font-size: small;
  font-weight: lighter;
}

.card-header:first-child {
  border-radius: 0;
}

.card-body {
  padding: 0;
}

.tier1 {
  padding-left: 1.25rem;
}

.tier2 {
  padding-left: 2.25rem;
}

.accordian-sidebar {
  padding-left: 15px;
  padding-right: 0;
}

.accordian-tier3 {
  padding-left: 0rem;
  padding-right: 0rem;
}

.collapse {
  background-color: #C0C0C0;
  padding-right: 0rem;
}

.btn {
  color: #333;
  font-size: medium;
}

.fa, .fas {
  color: #585858;
}
