{% extends 'index.html' %}

{% block main %}
    <main>
      <div class="wrapper">
        <!-- Sidebar -->
        <nav id="sidebar">
          <div class="sidebar-header">
            <h4>Tutorials</h4>
          </div>

            <div class="container accordian md-accordian accordian-sidebar">
              <div id="accordion">
                <div class="card">
                    <div class="card-header btn-primary-outline" id="headingBeginner">
                      <button class="btn btn-link" data-toggle="collapse" data-target="#collapseBeginner" aria-expanded="true" aria-controls="collapseBeginner">
                        Beginner <i class="fas fa-angle-down rotate-icon"></i>
                      </button>
                    </div>

                    <div id="collapseBeginner" class="collapse show" aria-labelledby="headingBeginner" data-parent="#accordion">
                      <div class="card-body" id="beginnerOutline">

                        <div class="card">
                          <div class="card-header">
                            <a href="#">Welcome</a>
                          </div>
                        </div>

                        <div class="card">
                          <div class="card-header">
                            <a href="#">Requirements</a>
                          </div>
                        </div>

                        <div class="card">
                          <div class="card-header">
                            <a href="#" class="collapsed" data-toggle="collapse" data-target="#collapseBeginnerPart1">
                              1. First Python Script <i class="fas fa-angle-down rotate-icon"></i>
                            </a>
                          </div>
                          <div class="card-body collapse" data-parent="#beginnerOutline" id="collapseBeginnerPart1">
                            <div class="card-body accordian-tier3" id="beginnerPart1">
                              <div class="card">
                                <div class="card-header">
                                  <a href="#">1.a Reading in a .txt File</a>
                                </div>
                              </div>
                              <div class="card">
                                <div class="card-header">
                                  <a href="#">1.b Creating a Data Directory</a>
                                </div>
                              </div>
                              <div class="card">
                                <div class="card-header">
                                  <a href="#">1.c Writing Functions</a>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>

                        <div class="card">
                          <div class="card-header">
                            <a href="#" data-toggle="collapse" data-target="#collapseBeginnerPart2">
                              2. First Python Package <i class="fas fa-angle-down rotate-icon"></i>
                            </a>
                          </div>
                          <div class="card-body collapse" data-parent="#beginnerOutline" id="collapseBeginnerPart2">
                            <div class="card-body" id="beginnerPart2">
                              <div class="card">
                                <div class="card-header">
                                  <a href="#">Part2A</a>
                                </div>
                              </div>
                              <div class="card">
                                <div class="card-header">
                                  <a href="#">Part2B</a>
                                </div>
                              </div>
                            </div>
                          </div>

                          <div class="card">
                            <div class="card-header">
                              <a href="#" data-toggle="collapse" data-target="#collapseBeginnerPart3">
                                3. Using Common Python Packages <i class="fas fa-angle-down rotate-icon"></i>
                              </a>
                            </div>
                          <div class="card-body collapse" data-parent="#beginnerOutline" id="collapseBeginnerPart3">
                            <div class="card-body" id="beginnerPart3">
                              <div class="card">
                                <div class="card-header">
                                  <a href="#">Part3A</a>
                                </div>
                              </div>
                              <div class="card">
                                <div class="card-header">
                                  <a href="#">Part3B</a>
                                </div>
                              </div>
                            </div>
                          </div>

                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="card">
                    <div class="card-header btn-primary-outline" id="headingIntermediate">
                      <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseIntermediate" aria-expanded="false" aria-controls="collapseIntermediate">
                        Intermediate <i class="fas fa-angle-down rotate-icon"></i>
                      </button>
                    </div>

                    <div id="collapseIntermediate" class="collapse" aria-labelledby="headingIntermediate" data-parent="#accordion">
                      <div class="card-body" id="intermediateOutline">

                        <div class="card">
                          <div class="card-header">
                            <a href="#" >Requirements</a>
                          </div>
                        </div>

                        <div class="card">
                          <div class="card-header">
                            <a href="#" data-toggle="collapse" data-target="#collapseIntermediatePart1">
                              Part 1 <i class="fas fa-angle-down rotate-icon"></i>
                            </a>
                          </div>
                          <div class="card-body collapse" data-parent="#intermediateOutline" id="collapseIntermediatePart1">
                            <div class="card-body" id="intermediatePart1">
                              <div class="card">
                                <div class="card-header">
                                  <a href="#">Part1A</a>
                                </div>
                              </div>
                              <div class="card">
                                <div class="card-header">
                                  <a href="#">Part1B</a>
                                </div>
                              </div>
                              <div class="card">
                                <div class="card-header">
                                  <a href="#">Part1C</a>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>

                        <div class="card">
                          <div class="card-header">
                            <a href="#" data-toggle="collapse" data-target="#collapseIntermediatePart2">
                              Part 2 <i class="fas fa-angle-down rotate-icon"></i>
                            </a>
                          </div>
                          <div class="card-body collapse" data-parent="#intermediateOutline" id="collapseIntermediatePart2">
                            <div class="card-body" id="intermediatePart2">
                              <div class="card">
                                <div class="card-header">
                                  <a href="#">Part2A</a>
                                </div>
                              </div>
                              <div class="card">
                                <div class="card-header">
                                  <a href="#">Part2B</a>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="card">
                    <div class="card-header btn-primary-outline"" id="headingAdvanced">
                      <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseAdvanced" aria-expanded="false" aria-controls="collapseAdvanced">
                        Advanced <i class="fas fa-angle-down rotate-icon"></i>
                      </button>
                    </div>
                    <div id="collapseAdvanced" class="collapse" aria-labelledby="headingAdvanced" data-parent="#accordion">
                      <div class="card-body" id="advancedOutline">

                        <div class="card">
                          <div class="card-header">
                            <a href="#">Requirements</a>
                          </div>
                        </div>

                        <div class="card">
                          <div class="card-header">
                            <a href="#" data-toggle="collapse" data-target="#collapseAdvancedPart1">
                              Part 1 <i class="fas fa-angle-down rotate-icon"></i>
                            </a>
                          </div>
                        <div class="card-body collapse" data-parent="#advancedOutline" id="collapseAdvancedPart1">
                          <div class="card-body" id="advancedPart1">
                            <div class="card">
                              <div class="card-header">
                                <a href="#">Part1A</a>
                              </div>
                            </div>
                            <div class="card">
                              <div class="card-header">
                                <a href="#">Part1B</a>
                              </div>
                            </div>
                            <div class="card">
                              <div class="card-header">
                                <a href="#">Part1C</a>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>

                      <div class="card">
                        <div class="card-header">
                          <a href="#" data-toggle="collapse" data-target="#collapseAdvancedPart2">
                            Part 2 <i class="fas fa-angle-down rotate-icon"></i>
                          </a>
                        </div>
                        <div class="card-body collapse" data-parent="#advancedOutline" id="collapseAdvancedPart2">
                          <div class="card-body" id="advancedPart2">
                            <div class="card">
                              <div class="card-header">
                                <a href="#">Part2A</a>
                              </div>
                            </div>
                            <div class="card">
                              <div class="card-header">
                                <a href="#">Part2B</a>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </li>
        </ul>

        </nav>
        <!-- Page Content -->
        <div id="content">
        </div>
      </div>

    </main>
{% endblock main %}
